.bg-image {
    background-size: cover; /* or 'contain' if you want to fit the image inside */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }

.homesectionimg {
    max-height: 400px;
    width: 100%;
}